{% style %}
    .copilot-start-now {
        display: block;
        padding: 50px 20px;
        width: 100%;
    }

    .copilot-start-now__inner{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }
    .copilot-start-now__header {
        display: flex;
        align-items: center;
    }
    .copilot-start-now__title {
        font-family: Poppins;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0;
        text-align: center;
        color: #171717
    }
    .copilot-start-now__body {
        display: flex;
        justify-content: center;
        gap: 80px;
    }
    .copilot-start-now__item {
        display: flex;
        align-items: flex-start;
        gap: 13px;
        background-color: #9797981A;
        border-radius: 15px;
        padding: 30px 45px 30px 22px;
        width: 522px;
    }
    .copilot-start-now__item svg {
        transform: translateX(0px);
        position: relative;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        flex: none;
    }

    .copilot-start-now__item:hover svg {
        transform: translateX(6px);
    }
    .copilot-start-now__item img {
        display: block;
        flex: none;
        height: 46px;
        width: auto;
    }
    .copilot-start-now__item strong {
        font-family: Poppins;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0;
        color: #171717;
    }
    .copilot-start-now__item p {
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #171717;
        margin: 2px 0 0 0;
    }
    .copilot-start-now__item svg {
        margin: 0 0 0 auto;
    }
    @media (max-width: 768px) {
        .copilot-start-now {
            padding: 40px 20px;
        }
        .copilot-start-now__body {
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
        .copilot-start-now__title {
            font-size: 25px;
            line-height: 30px;
        }
        .copilot-start-now__item {
            align-items: flex-start;
            padding: 21px 16px;
            width: 100%;
        }
        .copilot-start-now__item strong {
            font-size: 16px;
            line-height: 20px;
        }
    }
{% endstyle %}

<section class="copilot-start-now">
    <div class="copilot-start-now__inner">
        {% comment %} <div class="copilot-start-now__header">
            <h2 class="copilot-start-now__title">
                {{ section.settings.title_section }}
            </h2>
        </div> {% endcomment %}
        <div class="copilot-start-now__body">
            <div class="copilot-start-now__header">
                <h2 class="copilot-start-now__title">
                    {{ section.settings.title_section }}
                </h2>
            </div>
            <a class="copilot-start-now__item" href="{{ section.settings.url_item_1 }}">
                <img src="{{ section.settings.image_item_1 | image_url: width: 100 }}" alt="">
                <div class="copilot-start-now__content">
                    <strong>{{ section.settings.title_item_1 }}</strong>
                    <p>{{ section.settings.text_item_1 }}</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                <circle cx="18" cy="18" r="18" transform="rotate(-90 18 18)" fill="#FE7D00"/>
                <path d="M12 17.3531L23.1937 17.3531M23.1937 17.3531L18.8406 13M23.1937 17.3531L18.8406 21.7062" stroke="white" stroke-width="1.59911" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
            {% comment %} <a class="copilot-start-now__item" href="{{ section.settings.url_item_2 }}">
                <img src="{{ section.settings.image_item_2 | image_url: width: 100 }}" alt="">
                <div class="copilot-start-now__content">
                    <strong>{{ section.settings.title_item_2 }}</strong>
                    <p>{{ section.settings.text_item_2 }}</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                <circle cx="18" cy="18" r="18" transform="rotate(-90 18 18)" fill="#FE7D00"/>
                <path d="M12 17.3531L23.1937 17.3531M23.1937 17.3531L18.8406 13M23.1937 17.3531L18.8406 21.7062" stroke="white" stroke-width="1.59911" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a> {% endcomment %}
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Copilot Start Now",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
        "type": "text",
        "id": "title_section",
        "label": "Titulo",
        "default": "Titulo"
    },
    {
      "type": "header",
      "content": "Items"
    },
    {
        "type": "url",
        "id": "url_item_1",
        "label": "Url item 1"
    },
    {
        "type": "image_picker",
        "id": "image_item_1",
        "label": "Imagen item 1"
    },
    {
        "type": "text",
        "id": "title_item_1",
        "label": "Titulo 1",
        "default": "Titulo"
    },
    {
        "type": "text",
        "id": "text_item_1",
        "label": "Texto 1",
        "default": "Texto"
    },
    {
        "type": "url",
        "id": "url_item_2",
        "label": "Url item 2"
    },
    {
        "type": "image_picker",
        "id": "image_item_2",
        "label": "Imagen item 2"
    },
    {
        "type": "text",
        "id": "title_item_2",
        "label": "Titulo 2",
        "default": "Titulo"
    },
    {
        "type": "text",
        "id": "text_item_2",
        "label": "Texto 2",
        "default": "Texto"
    },
  ],
  "presets": [
    {
      "name": "Copilot Start Now"
    }
  ]
}
{% endschema %}
